use flake .#

# opam env
# eval $(opam env --switch=default)

# dune env
export PATH=$PATH:$HOME/.local/bin
if [ -e "$HOME/.local/share/dune/env/env.bash" ]; then
  source "$HOME/.local/share/dune/env/env.bash"
fi
export DUNE_CONFIG__TOOLCHAINS=enabled
export DUNE_CONFIG__PKG_BUILD_PROGRESS=enabled
export DUNE_CONFIG__LOCK_DEV_TOOL=enabled

