use flake .#

# dune env
export DUNE_CONFIG__TOOLCHAINS=enabled
export DUNE_CONFIG__PKG_BUILD_PROGRESS=enabled
export DUNE_CONFIG__LOCK_DEV_TOOL=enabled

export EPI_CACHE_DIR=.epi/cache
export EPI_STATE_DIR=.epi/state

dotenv_if_exists .secret.envrc
